/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
  --p: #0575E5;
  --s: #eee;
  --error: #cf1616;
  --radius: 8px;
  --neutral: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ol {
  display: flex;
  justify-content: center;
  gap: .5rem;
  list-style: none;
  margin: .5rem;
  padding: 0;
}

ol li {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

ol li a {
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out; 
}

ol li a:hover {
  color: var(--p);
}

form {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

form input, form select, button, #export-btn {
  padding: .5rem;
  font-size: 1rem;
  border-radius: var(--radius);

  border: 1px solid black;
}

button {
  cursor: pointer;
}

table {
  table-layout: auto;
  height: fit-content;
}

table, th, td {
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: var(--s);
}

thead tr {
  background-color: var(--p);
  color: var(--neutral);
}

th, td {
  padding: 5px;
  text-align: left;
  max-width: 25vw;
  height: 2.5rem;
  min-width: 7.5rem;
}

th a {
  color: var(--neutral);
  vertical-align: middle;
}

td > input, td > textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  min-width: 0;
}

td > textarea {
  width: 100%;
  resize: vertical;
}

.show-more-btn {
  border: none;
  background-color: transparent;
  color: var(--p);
  padding: 0;
  cursor: pointer;
}

.description-dots, .description-rest {
  display: inline;
}


.filter-form {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.hidden {
  display: none;
}

.edited {
  user-select: none;
}

label {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  padding: 0;
  margin-top: .3rem;
  font-weight: bold;
}

h2 {
  padding-top:0;
  margin-top: 0;
  margin-bottom: 0rem;
}

.searchable-select {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  position: relative;
  border-collapse: collapse;
}

.search-options {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  margin:0;
  padding-left: 0;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--neutral);
  border-radius: 0 0 var(--radius) var(--radius);
  border: 1px solid black;
  max-height: 200px;
  overflow:auto;
  z-index: 9999;
}

.search-options li {
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
}
.searching .search-input {
  border-radius: var(--radius) var(--radius) 0 0;
}

.searching .search-options {
  display: flex;
}

.searching .search-options li {
  cursor: pointer;
}

.searching .search-options li:hover {
  background-color: var(--s);
}

#show-results-btn {
  margin-top: .3rem;
}

.edit-export-btns {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.edit-export-btns > button {
  flex: 1;
}


#show-results-btn, #edit-btn, #cancel-btn, #export-btn {
  background-color: var(--p);
  color: var(--neutral);
  font-weight: bold;
  border: 1px solid var(--p);
  transition: all .3s ease-out;
}

#export-btn {
  background-color: var(--s);
  text-align: center;
  color: black;
  border: 1px solid var(--s);
  width: 100%;
}

#show-results-btn:hover, #edit-btn:hover {
  background-color: #0569ce;
}

#cancel-btn {
  background-color: var(--error);
  border: 1px solid var(--error);
}

p {
  margin: .5rem 0;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: .2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%);
  background-color: var(--neutral);
  border-radius: var(--radius);
  padding: 1rem;
  border: 1px solid var(--error);
}

.close-modal-btn {
  align-self: flex-end;
  background-color: var(--error);
  color: var(--neutral);
  border: none;
  padding: .5rem;
  font-weight: bold;
  cursor: pointer;
}

.edited > .searchable-select > .search-input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: .5rem;
  font-size: 1rem;
}

svg {
  fill: var(--neutral);
  vertical-align: middle;
  max-height: 1rem;

  margin-left: .2rem;
}