/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
  --p: #0575E5;
  --error: #cf1616;
  --radius: 8px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ol {
  display: flex;
  justify-content: center;
  gap: .5rem;
  list-style: none;
  margin: .5rem;
  padding: 0;
}

ol li {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol li a {
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out; 
}

ol li a:hover {
  color: var(--p);
}

form {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

form input, form select, button {
  padding: .5rem;
  font-size: 1rem;
  border-radius: var(--radius);

  border: 1px solid black;
}

button {
  cursor: pointer;
}

table {
  height: fit-content;
}

table, th, td {
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: #eee;
}

thead tr {
  background-color: var(--p);
  color: #fff;
}

th, td {
  padding: 5px;
  text-align: left;
  max-width: 30vw;
  height: 2rem;
}

th a {
  text-decoration: none;
  color: #fff;
}

td > input, td > textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  min-width: 0;
}

td > textarea {
  width: 100%;
  resize: vertical;
}

.show-more-btn {
  border: none;
  background-color: transparent;
  color: var(--p);
  padding: 0;
  cursor: pointer;
}

.description-rest, .description-dots {
  display: none;
}

.visible {
  display: inline;
}

.filter-form {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.hidden {
  display: none;
}

.edited {
  user-select: none;
}

label {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  padding: 0;
  margin-top: .3rem;
  font-weight: bold;
}

h2 {
  padding-top:0;
  margin-top: 0;
  margin-bottom: 0rem;
}

.searchable-select {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  position: relative;
  border-collapse: collapse;
}

.search-options {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  margin:0;
  padding-left: 0;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0 0 var(--radius) var(--radius);
  border: 1px solid black;
  max-height: 200px;
  overflow:auto;
  z-index: 9999;
}

.search-options li {
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
}
.searching .search-input {
  border-radius: var(--radius) var(--radius) 0 0;
}

.searching .search-options {
  display: flex;
}

.searching .search-options li {
  cursor: pointer;
}

.searching .search-options li:hover {
  background-color: #eee;
}

#show-results-btn {
  margin-top: .3rem;
}

.edit-btns {
  display: flex;
  gap: .5rem;
}

.edit-btns > button {
  width: 100%;
}

#show-results-btn, #edit-btn, #cancel-btn {
  background-color: var(--p);
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--p);
  transition: all .3s ease-out;
}

#show-results-btn:hover, #edit-btn:hover {
  background-color: #0569ce;
}

#cancel-btn {
  background-color: var(--error);
  border: 1px solid var(--error);
}

p {
  margin: .5rem 0;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: .2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%);
  background-color: #fff;
  border-radius: var(--radius);
  padding: 1rem;
  border: 1px solid var(--error);
}

.close-modal-btn {
  align-self: flex-end;
  background-color: var(--error);
  color: #fff;
  border: none;
  padding: .5rem;
  font-weight: bold;
  cursor: pointer;
}

.edited > .searchable-select > .search-input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: .5rem;
  font-size: 1rem;
}